li
  - var categories = [];
  each category in post.categories
    - categories.push(category.name)

  if categories[0] == 'dd:DALLAS'
    - var color = '#3DA8C7';
  else if categories[0] == 'dd:LONDON'
    - var color = '#5BB8B4';
  else if categories[0] == 'dd:BOSTON'
    - var color = '#55A23F';
  else if categories[0] == 'dd:VALENCIA'
    - var color = '#E87338';
  else
    - var color = '';

  if post.featured_image
    div.image-wrapper
      img(src=post.featured_image)
  else
    div.image-wrapper
      img(width="100%" src="/img/icons/article.svg")

  span
    if categories[0]
      = categories[0] + ' | '
    = new Date(post.date).toDateString()

  h3!= post.title

  if categories.indexOf('events') !== -1
    for metavar in post.metadata
      if metavar.key == 'event_link'
        a(style="background-color: #{color}" href=metavar.value) RSVP
  else
    a(style="background-color: #{color}" href=post._url) Read the post
