extends layout

prepend scripts
  script(src='components/instafeed.js')

block header
  style
    :stylus
      header
        text-align center
        position relative
        overflow hidden
        background-color #000

        video
          min-width 100%
          min-height 100%
          position absolute
          bottom 0
          left 0

        h1, p, div
          z-index 2
          position relative

        h1
          display inline-block
          padding 20px
          font-size 80px
          border-width 10px
          border-style solid
          margin-top 50px
          margin-bottom 0

        p
          font-size 28px
          font-weight lighter

          &.mailing-list
            padding-top 40px
            font-size 16px

      #content h2
        margin-top 60px
        font-size 30px
        color #4c4c4c // dark_grey

      // horrible hack to fix video play button showing up on chrome for iOS...
      // just gets rid of video entirely
      @media only screen and (max-width: 321px)
        video
          display none

  video(loop='true', autoplay='true', poster='/video/home-thumb.png')
    source(src='/video/home.mp4', type='video/mp4')
    source(src='/video/home.ogg', type='video/ogg')

  h1 Digital People, IRL
  p Connect with the digital scene in your city.
  p.mailing-list Never miss an event:
  #mc_embed_signup
    form#mc-embedded-subscribe-form.validate(
      action='//digitaldumbo.us2.list-manage.com/subscribe/post?u=ff8d25c50c3203fb777ea1425&amp;id=1b9e429fb6',
      method='post',
      name='mc-embedded-subscribe-form',
      target='_blank',
      novalidate='')
      .mc-field-group
        input#mce-EMAIL.required.email(
          type='email',
          value='Email Address',
          name='EMAIL',
          onfocus="if(this.value == 'Email Address') {this.value=''}",
          onblur="if(this.value == ''){this.value ='Email Address'}")
        input#mc-embedded-subscribe.button(
          type='submit',
          value='',
          name='subscribe')
      #mce-responses.clear
        #mce-error-response.response(style='display:none')
        #mce-success-response.response(style='display:none')
      // real people should not fill this in and expect good things - do not
      // remove this or risk form bot signups
      div(style='position: absolute; left: -5000px;')
        input(type='text', name='b_ff8d25c50c3203fb777ea1425_1b9e429fb6', tabindex='-1', value='')
  script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')


block content
  h2 Upcoming Events
  ul#event-thumbs
    - var i = 0
    for post in wordpress.post
      if !post.categories.events || i >= 3
        - continue
      - i++
      include _post-thumb.jade

  h2.post-thumbs News & Recaps
  ul#post-thumbs.has-side-thing
    - var i = 0
    for post in wordpress.post
      if post.categories.events || i >= 4
        - continue
      - i++
      include _post-thumb.jade

  h2.social-feed Event Feed <em>#DIGITALDUMBO</em>
  ul#social-feed
