include _mixins

doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css')
    meta(charset='utf8')
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1')
    meta(name='description', content='Digital DUMBO produces live events, conferences, content, and custom experiences for digital tastemakers, talent, and influential executives.')
    meta(name='author', content="Carrot Creative")
    title Digital DUMBO | Live Events & Experiences at the Edge of Digital and Culture.
    link(rel='stylesheet', href='/css/master.css')
    link(rel='stylesheet', href='/components/slidebox.css')
    +if-ie("lt IE 10")
      link(rel='stylesheet', href="/css/ie-fix.css")

  body
    nav
      .page-wrap
        a(href="/")
          img(src="/img/logo2.svg")

        ul
          li: a(href='/') home
          li: a(href='/posts') news
          li: a(href='/what-we-do') what we do
          li: a(href='http://jobs.digitaldumbo.com/') jobs
          li.social: a(href="http://twitter.com/DigitalDUMBO", title="Twitter")
            img(src="/img/icons/twitter.svg")
          li.social: a(href="http://facebook.com/digitaldumbo", title="Facebook")
            img(src="/img/icons/facebook.svg")
          li.social: a(href="https://linkedin.com/company/digital-dumbo", title="LinkedIn")
            img(src="/img/icons/linkedin.svg")

    header
      block header

    #content
      block content

    footer
      .page-wrap
        div
          a(href="/"): img(src="/img/logo1.svg", style="height: 35px")
          div(itemscope itemtype="http://schema.org/Organization")
            p(itemprop='address' itemscope itemtype='http://schema.org/ContactPoint')
              ='Contact: '
              a(href='mailto:info@digitaldumbo.com')
                span(itemprop='email') info@digitaldumbo.com

            p(itemprop='address' itemscope itemtype='http://schema.org/PostalAddress')
              ='Address: '
              span(itemprop='streetAddress') 45 Main Street Suite 816
              =' '
              span(itemprop='addressLocality') Brooklyn
              span=', '
              span(itemprop='addressRegion') NY
              =' '
              span(itemprop='postalCode') 11201

        ul.links
          li: a(href='/terms') Terms of Service
          li: a(href='/privacy') Privacy Policy
          li.social: a(href="http://twitter.com/DigitalDUMBO", title="Twitter")
            img(src="/img/icons/twitter.svg")
          li.social: a(href="http://facebook.com/digitaldumbo", title="Facebook")
            img(src="/img/icons/facebook.svg")
          li.social: a(href="https://linkedin.com/company/digital-dumbo", title="LinkedIn")
            img(src="/img/icons/linkedin.svg")

    block scripts
      script(src='/components/x-tag-components.js')
      script(src='/components/slidebox.js')
      script(src='/js/build.js')
      script.
        require('digital-dumbo')
      // script.
      //  var _gaq=[['_setAccount','UA-34180797-1'],['_trackPageview']];
      //  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      //  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      //  s.parentNode.insertBefore(g,s)}(document,'script'));
