extends layout

block header
  style
    :stylus
      header
        background-image url('/img/generic_image5.jpg')
        padding 20px
        font-size 30px

  .page-wrap
    h1 Digital Dumbo Pulse

block content
  #post-content
    section
      h1!= post.title
      span.date= new Date(post.date).toDateString()

      - var tags = [];
      each tag in post.tags
        - tags.push(tag.slug)

      if tags.length > 0
        = '|'
        span.tags= '#' + tags.join(' #')

      hr

      != post.content

    #disqus_thread.page-wrap
    script(type='text/javascript').
      var disqus_shortname = 'digitaldumbo';
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  noscript
    | Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  a.dsq-brlink(href='http://disqus.com')
    | comments powered by
    span.logo-disqus Disqus
