extends layout

block header
  style
    :stylus
      header
        background-image url('/img/generic_image5.jpg')
        padding 20px
        font-size 30px

  .page-wrap
    h1 Digital Dumbo Pulse

block content
  ul#post-thumbs.no-side-thing
    for post in wordpress.post
      include _post-thumb.jade
