extends layout

block header
  style
    :stylus
      header
        background-image url('/img/generic_image7.jpg')
        padding 20px
        font-size 30px

  .page-wrap
    h1 Privacy Policy

block content
  .page-wrap
    :markdown
      When you share information with us, for example by creating a Digital DUMBO Account, we may use your information to provide a more personalized service. This Privacy Policy describes how we use your information and the ways in which you can protect your privacy.

      We’ve tried to keep it as simple as possible, but if you have any questions please contact us.

      Digital DUMBO, LLC ("Digital DUMBO", "we" or "us") is a New York limited liability company that promotes digital culture events and communities.

      ## Information we collect
      We collect certain information to provide better services. You actively provide some information, and some is provided passively through your use of our Services.

      ### Information You Actively Provide
      For example, many of our services require you to sign up for a Digital DUMBO Account. When you sign up, we ask for personal information, like your name, business and email address. You may also be able to sign up through Facebook Connect, with your Twitter account, or with similar social media login credentials.

      ## Information Gathered from Passive Use
      We may collect information about how you use Digital DUMBO services and how you interact with our content and sponsors. For example, we may collect information through Google Analytics. This information includes:

      ### Device information
      We may collect device-specific information such as your hardware model, operating system, unique device identifiers, mobile network information and phone number. We may associate your device identifiers with your Digital DUMBO Account.

      ### Log information
      When you use our services or view our content, we may automatically collect and store certain information in server logs. This information may include: details of how you used our service; IP address; browser type, browser language, the date and time of your request and referral URL; cookies that may uniquely identify your browser or your Digital DUMBO Account.

      ### Location information
      When you use a location-enabled Digital DUMBO service, we may collect and process information about your actual location.

      ### Local storage
      We may collect and store information (including personal information) locally on your device using mechanisms such as browser web storage (including HTML 5) and application data caches.

      ### Cookies and anonymous identifiers
      We use various technologies to collect and store information when you visit a Digital DUMBO service, and this may include sending one or more cookies or anonymous identifiers to your device. We also use cookies and anonymous identifiers when you interact with services we offer to our partners, such as advertising services or Digital DUMBO features that may appear on other sites.

      ### Facebook Connect
      By using Facebook Connect, you allow Digital DUMBO to access certain information from your Facebook account pursuant to the Facebook Terms of Use.

      ### Twitter Feed
      For users that choose to provide their twitter handle, we may aggregate data from Twitter to help us provide analytics and present insights via the website.

      ## How we use this information
      We collect information in order to maintain and improve our services, to develop new ones, to personalize your experience, and to protect Digital DUMBO and our users. We may also use this information to offer you tailored content, including more relevant advertisements. In some instances, your personally identifiable information may be associated with passively collected activity information.

      When you contact Digital DUMBO, we may keep a record of your communication in order to, for example, help provide better customer service.

      We may use your email address to inform you about our services, such as letting you know about upcoming changes or improvements, but we will not spam you with a high volume of emails. We may send segmented communication via email, but only to users that choose to opt-in to this feature.

      We use information collected from cookies and other technologies, like pixel tags, to improve your user experience and the overall quality of our services.

      Digital DUMBO may process your information on a server located outside the country where you live.

      ## Information You Submit
      ### Public Content
      Your reviews, photos, check-ins, comments, account profile, and other content you post to our services are meant for public consumption. We may display this content on the Site, and further distribute it to a wider audience through third party sites and services, including search engines.

      ### Credit Card Purchases
      If you purchase tickets, business advertising, deals, or other Digital DUMBO products or services, we may collect and store billing and credit card information. This information will only be shared with third parties who perform tasks required to complete the purchase transaction (such as fulfilling orders and processing credit card payments). When you submit credit card numbers, we encrypt that information using industry standard technology.

      Although we may retain certain details of transactions or payments you make, we will not keep your payment source account number without your consent.

      ## Information we share
      We do not share your personal information without your consent, except as described in this Privacy Policy.

      ### External Processing
      We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures.

      ### Legal
      We will share personal information with companies, organizations or individuals outside of Digital DUMBO if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:

      - meet any applicable law, regulation, legal process or enforceable governmental request.
      - enforce applicable Terms of Service, including investigation of potential violations.
      - detect, prevent, or otherwise address fraud, security or technical issues.
      - protect against harm to the rights, property or safety of Digital DUMBO, our users or the public as required or permitted by law.

      ### Aggregate Information
      We may share aggregated, non-personally identifiable information publicly and with our partners – like sponsors, advertisers or connected sites. For example, we may share information publicly to show trends about general membership statistics, event participation and use of our services.

      ### Advertising
      We allow third parties who provide advertising services to use Cookies in connection with your use of Digital DUMBO. They may collect and store certain information, and they may be able to associate the information they collect with other information they have about you. We do not necessarily have access to or control over the Cookies they use.

      ### Service Providers
      We outsource some of our technical and customer support, tracking and reporting functions, quality assurance testing, payment processing functions, and other services to third parties. We may share your information with them so that they can perform their services.

      ### Facebook Connect and Twitter
      You may link your Facebook, Twitter and similar social media accounts to Digital DUMBO services. This may facilitate the sign-up process, help you connect and share public content with your friends and followers. You may also be able to make public comments using your social media account identity and credentials. We may collect and store information identifying your account with such a third party social media service. You can disable the social media features at any time by logging into your profile and selecting the option to disconnect your social media account.

      ### Affiliates
      We may share certain information with companies controlled by or under common control with us. We occasionally work with trusted but non-affiliated promoters, and we may share information with them to make the events run smoothly.

      ### Business Transfers
      We may share information from or about you with subsidiaries, joint ventures, or other companies under common control, in which case we will require them to honor this Privacy Policy. If another company acquires Digital DUMBO or all or substantially all of our assets, that company will possess the same information, and will assume the rights and obligations with respect to that information as described in this Privacy Policy.

      ## Browser Settings
      You may set your browser to block all cookies, including cookies associated with our services. Remember that many of our services will not function properly when cookies are disabled.

      ### Accessing and updating your personal information
      Where we can provide information access and correction, we will do so for free, except where it would require a disproportionate effort. We aim to maintain our services in a manner that protects information from accidental or malicious destruction. Because of this, after you delete information from our services, we may not immediately delete residual copies from our active servers and may not remove information from our backup systems.

      ### Data Retention and Account Termination
      We may retain your information as long as permitted or required under the law. If you terminate your account, your comments and reviews may remain publicly accessible.

      We will respond to requests relating to personal data sent from within the European Union according to the procedures mandated by the member state from where the request is sent.

      ## Children
      Digital DUMBO is intended for adult audiences. It is not directed to children under 13. We do not knowingly collect personal information from children under 13. If you become aware that a child has provided us with personal information, please contact our administrator. If we become aware that a child under 13 has provided us with personal information without parental consent, we will take steps to remove such information and terminate the child’s account.

      ## Information security
      We use a commercially reasonable level of skill and care to protect our users from unauthorized access to information.

      ## US-EU Safe Harbor Framework
      Our privacy policy complies with the US-EU Safe Harbor Framework, as set forth by the U.S. Department of Commerce regarding the collection, use and retention of personal information from European Union countries. Digital DUMBO has certified that it adheres to the Safe Harbor Privacy Principles. To learn more about the Safe Harbor program, and to view our certification page, please visit [export.gov/safeharbor](http://www.export.gov/safeharbor/).

      Digital DUMBO is committed to resolving privacy and data collection complaints. European Union citizens with questions or complaints should contact Digital DUMBO at: [contact@digitaldumbo.com](mailto:contact@digitaldumbo.com)

      If we cannot resolve the complaint ourselves, they may be brought before a JAMS arbitration.

      ## Changes
      Our Privacy Policy may change. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice.

      _Last Updated on 2012-06-08_

block scripts
  // no scripts needed here
