extends layout

block header
  style
    :stylus
      header
        background-image url('/img/generic_image6.jpg')
        padding 20px
        font-size 30px

  .page-wrap
    h1 Terms of Service

block content
  .page-wrap
    :markdown
      Digital DUMBO, LLC. ("Digital DUMBO", "we" or "us") is a New York limited liability company located at 20 Jay St. STE 312, Brooklyn, NY 11201.

      Digital DUMBO is an event organizer that provides online services, including DigitalDUMBO.com (the "Services"). By using our Services, you are agreeing to these terms (including the Privacy Policy). Please read them carefully.

      ## Responsible Use
      You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations.

      Don't abuse our Services. For example, do not: provide false information, impersonate others; write fake or defamatory reviews, pay others or accept payment for writing a review or removing a review; violate the rights of any third party; harass or spam others; overburden our servers; attempt unauthorized access; transmit any viruses, or malicious or annoying code; or circumvent any features that restrict unauthorized use or copying.

      We have a policy of removing content we believe to be obscene, harassing or otherwise objectionable, in our effort to comply with the Telecommunications Act of 1996. This is a subjective general policy, and does not create any obligations for us to remove material that you might find objectionable.

      We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.

      ### Investigations
      We encourage you to contact us if another user has violated the Terms, however, we are under no obligation to enforce the Terms on your behalf against another user. We reserve the right to investigate and take appropriate action at our sole discretion.

      ### Third-Party Services
      Some of the services made available through the Site are provided in connection with third parties and subject to additional terms.

      ### Communications
      In connection with your use of the Services, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.

      ## Intellectual Property Rights
      Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.

      Our Services display some third-party content. Third-party content is the sole responsibility of the entity that makes it available. We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. But this does not necessarily mean we review content or act in an editorial capacity.

      ## Digital DUMBO Account
      You need a Digital DUMBO Account to use some of our Services. To bolster your credibility as a contributor, we ask that you create your account with complete and accurate information about yourself.

      If you discover unauthorized use of your account, please change your password and notify Digital DUMBO.

      You must be at least 18 years old to create an account. Certain Digital DUMBO events may have a higher minimum age or other eligibility requirements.

      ## Digital DUMBO Events and Release
      Digital DUMBO does not directly supervise or monitor the events it organizes. We do not control the individuals running the events or the other event attendees. We do not inspect the event locations for any reason. As a result, we have no control over the identity or actions of the individuals who are present at our events.

      Because we do not supervise or control events, and because we are not involved with physical transportation to or from events, or with the actions of any individuals at events, and because we do not control payment systems (including PayPal, Stripe, credit card companies, etc.), and because we cannot guarantee the true identity of event participants, and because we have very limited control, if any, over the quality, safety, morality, legality, truthfulness or accuracy of statements made at events: You agree that you bear all risk and you agree to release us (and our officers, directors, shareholders, agents, employees, affiliates, subsidiaries, and third party partners) and organizers or hosts and their designees from claims, demands, and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, now and in the future, arising out of or in any way connected with your use of our Services, your third party transactions, our resolution of any disputes among users, and/or your transportation to or from, attendance at, or the actions of you or other persons at a Digital DUMBO event. To the extent permissible by law, you waive any and all rights and benefits otherwise conferred by any statutory or non-statutory law of any jurisdiction that would purport to limit the scope of a release or waiver. For example, you waive and relinquish all rights and benefits which you have or may have under [§ 1542 of the California Civil Code](http://www.leginfo.ca.gov/cgi-bin/displaycode?section=civ&group=01001-02000&file=1541-1543) or any similar provision of the law of any other jurisdiction.

      ## Privacy
      Digital DUMBO’s privacy policy explains how we treat your personal data and protect your privacy. By using our Services, you are allowing Digital DUMBO to use your data in accordance with our privacy policies.

      ## DMCA Compliance
      We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act. If you discover content that infringes your copyright, please provide us a written takedown notice pursuant to [DMCA § 512(c)](http://www.copyright.gov/title17/92chap5.html#512).

      Our Copyright Agent for notice of claims of copyright infringement can be reached at:

      20 Jay St, Ste 312, Brooklyn, NY 11201

      ## User Submitted Content
      Some of our Services allow you to submit content. For example, users may submit comments, reviews, audio, video, images, etc. When you upload or otherwise submit content to our Services, you give Digital DUMBO (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that your content works better with our Services), communicate, publish, publicly perform, publicly display and distribute such content for any purpose. This license continues even if you stop using our Services.

      If you submit feedback or suggestions about our Services, we may use your feedback or suggestions without obligation to you.

      Submitting content does not create any type of partnership or co-venture arrangement with Digital DUMBO.

      Your content may be edited for length or clarity or for any other reason either before or after it is published, and it may be attributed to you. Digital DUMBO may display advertisements and other information adjacent to your content without compensation to you. User submissions, even if edited, do not reflect the views of Digital DUMBO.

      We may remove your content at our sole discretion and without notice to you. We have no obligation to retain or provide you with copies of your content, nor do we guarantee any confidentiality with respect to your content.

      ## Modifying and Terminating our Services
      Digital DUMBO may add or remove features, and we may suspend or stop a Service altogether. You can stop using Digital DUMBO at any time, and Digital DUMBO may also stop providing Services to you, or create new limits to our Services at any time.

      ## Warranties and Disclaimers
      We provide our Services using a commercially reasonable level of skill and care and we hope that you will enjoy using them. But there are certain things that we don’t promise about our Services.

      Other than as expressly set out in these terms or additional terms, neither Digital DUMBO nor its suppliers or distributors make any specific promises about the services. For example, we don’t make any commitments about the content within the services, the specific function of the services, or their reliability, availability, or ability to meet your needs. We provide the services "as is".

      Some jurisdictions provide for certain warranties, like the implied warranty of merchantability, fitness for a particular purpose and non-infringement. To the extent permitted by law, we exclude all warranties, including those just mentioned.

      ## Liability for our Services
      When permitted by law, Digital DUMBO, and Digital DUMBO’s suppliers and distributors, will not be responsible for lost profits, revenues, or data, financial losses or indirect, special, consequential, exemplary, or punitive damages.

      To the extent permitted by law, the total liability of Digital DUMBO, and its suppliers and distributors, for any claim under these terms, including for any implied warranties, is limited to the amount you paid us to use the services (or, if we choose, to supplying you the services again).

      In all cases, Digital DUMBO, and its suppliers and distributors, will not be liable for any loss or damage that is not reasonably foreseeable.

      ## Indemnification
      You will hold harmless and indemnify Digital DUMBO and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to the use of the Services or violation of these terms, including any liability or expense arising from claims, losses, damages, judgments, litigation costs and attorneys’ fees.

      Digital DUMBO reserves the right to assume the exclusive defense and control, at your expense, of any such matter. You agree not to settle any matter without the prior written consent of Digital DUMBO. Digital DUMBO will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.

      ## General Terms
      ### Modifications
      We may modify our terms. You should look at the terms regularly. We’ll post notice of modifications on this page. Changes will become effective fourteen days after they are posted. However, changes made for legal reasons will be effective immediately. Changes will not apply retroactively, and cannot retroactively modify dispute resolution provisions. If you do not agree to the modified terms, stop using Digital DUMBO’s Services.

      ### Third Parties
      These terms control the relationship between Digital DUMBO and you. They do not create any third party beneficiary rights.

      ### Waiver
      Any delay in enforcing these terms does not waive or give up our right to enforce them at a later date.

      ### Severability
      If any term is found to be unenforceable, it will not affect any of the other terms.

      ### Governing Law
      The laws of New York State, excluding conflict of laws rules, will apply to any disputes arising out of or relating to these terms or the Services.

      ### Jurisdiction and Arbitration
      All claims arising out of or relating to these terms or the Services will be litigated exclusively in the federal or state courts of New York County, NY and you and Digital DUMBO irrevocably consent to personal jurisdiction in those courts. Notwithstanding the preceding forum selection, at Digital DUMBO’s option, disputes will be submitted to binding arbitration in New York City. You understand that you are giving up your right to have certain disputes settled by a judge and jury.

      ### Waiver of Class Action
      You hereby irrevocably waive any rights to participate in a class action against Digital DUMBO.

      ### Entire Agreement
      The Terms contain the entire agreement between you and Digital DUMBO.

      ### Assignment
      Digital DUMBO may assign or transfer its rights under this agreement without restriction. You may not transfer or assign your rights.

      ### Impermissible Terms
      If any clause is impermissible in your jurisdiction, give us written notice of the relevant local law at least 14 days prior to your use of our services.

      _Last Updated on 2012-06-08_

block scripts
  // no scripts needed here
