extends layout

block header
  style
    :stylus
      header
        background-image url('/img/generic_image1.jpg')

        h1
          font-size 45px

  .page-wrap
    h1 Digital DUMBO creates experiences that connect forward-thinking companies with influencers in media, tech and advertising.

block content
  #services
    h1 Overview
    p Digital DUMBO was founded in 2009 as a social gathering for creative and innovative companies in the Dumbo neighborhood of Brooklyn. Today, we have over 15,000 members both in and outside of Dumbo and create experiences that connect forward-thinking companies with influencers in media, tech and advertising. We’ve worked with some the hottest emerging advertising agencies and startups, as well as Fortune 500 technology companies, to create unique thought leadership opportunities, launch new products, recruit digital talent and much more.

    ul
      li
        h3 Event Production
        | We collaborate with our clients to produce experiences that allow for thought leadership, product launches, ad agency showcases, talent recruitment, experiential marketing, and more. What makes us unique is our ability to connect our clients with specifics groups from our over 15,000 member community (designers, media buyers, founders, digital talent, etc).
      li
        h3 Marketing & Community Strategy
        | Whether its working with a global media brand to market their upcoming conference, partnering with an international government organization to showcase the country’s most promising startups, or collaborating with a Fortune 500 technology company to amplify the firm’s thought leadership, we create custom marketing plans in place to reach strategy goals and to connect with new communities in authentic ways.
      li
        h3 Talent Recruitment
        | Through our new staffing agency, dd:TALENT, and through the events that we produce for our partners, we introduce top companies to top talent. Roles we help fill include Account Management, Design/Development, Content Strategy, Project Management, Marketing, UI/UX, and more.

  x-slidebox#sponsors: x-slides
    x-slide: ul
      li: img(src='/img/sponsors/bing.svg')
      li: img(src='/img/sponsors/carrot.svg')
      li: img(src='/img/sponsors/uk-trade-investment.svg')
      li: img(src='/img/sponsors/google.svg')
      li: img(src='/img/sponsors/pepsi.svg')
    x-slide: ul
      li: img(src='/img/sponsors/irobot.svg')
      li: img(src='/img/sponsors/mrm-mccann.png')
      li: img(src='/img/sponsors/translation.png')
      li: img(src='/img/sponsors/7digital.png')
      li: img(src='/img/sponsors/alliance-numerique.png')
    x-slide: ul
      li: img(src='/img/sponsors/execu-search.png')
      li: img(src='/img/sponsors/microsoft.svg')
      li: img(src='/img/sponsors/financial-times.svg')
      li: img(src='/img/sponsors/mailchimp.svg')
      li: img(src='/img/sponsors/tdbank.svg')

  x-slidebox#quotes
    x-slides
      x-slide
        .page-wrap
          blockquote When Invoke first arrived in New York, Digital DUMBO was among the first groups to welcome us as part of the community. This sense of inclusion is the first thing that comes to mind when I think of Digital Dumbo and I will always consider it a fantastic event to meet great people and get a peek into what's coming next from the NYC tech scene.
          cite Dario Meli, CEO, Invoke (creators of HootSuite)
      x-slide
        .page-wrap
          blockquote Bing chose to work with Digital DUMBO because of the vastness and richness of the DUMBO community.  Our event was an unparalleled success that exceeded even our wildest expectations.
          cite Stefan Weitz, Director, Bing
      x-slide
        .page-wrap
          blockquote Having known the team at Digital DUMBO for years, I knew I wanted to work with them in my role on the Google+ Local Community team. Each event we've done together has been an effective collaboration that I'd be happy to repeat.
          cite Esther Brown, Global Chief of Staff, Google Places, Google

  ul#stats
    li
      span.number 30,000+
      | People Connected
    li
      span.number 100+
      | Events
    li
      span.number 200+
      | Past Speakers
    li
      span.number 7
      | Cities Connected
