x-slidebox
  display block
  overflow hidden
  height 100%
  width 100%

x-slides
  display block
  position relative
  height 100%
  width 100%
  overflow hidden
  transition transform .5s ease

  > x-slide
    display inline-block
    height 100%
    width 100%
    box-sizing border-box
    vertical-align top
    overflow hidden
