#mc_embed_signup
  margin: (standard_padding / 2)

subscribe_height = 45px
#mc-embedded-subscribe, #mce-EMAIL
  box-sizing: border-box
  height: subscribe_height
  color: white
  border: 1px solid white
  padding: 10px
  vertical-align: top

subscribe_button_width = subscribe_height
#mc-embedded-subscribe
  width: subscribe_button_width
  border-left-width: 0
  border-top-right-radius: 3px
  border-bottom-right-radius: 3px
  background: url('/img/icons/arrow.svg') no-repeat center, red
  background-size: auto (subscribe_height / 2)

#mce-EMAIL
  background-color: transparent
  border-top-left-radius: 3px
  border-bottom-left-radius: 3px
  font-size: 14px
  width: min_col_width - subscribe_button_width

div.mce_inline_error, #mce-error-response, #mce-success-response
  margin: (standard_padding / 2) !important
