.page-wrap
  margin: auto
  max-width: max_width
  padding: (standard_padding / 2)
  box-sizing: border-box

.container
  @extends .page-wrap
  text-align: center
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around

  li
    box-sizing: border-box
    display: inline-block
    padding: (standard_padding / 2)

box-compartment()
  vertical-align: top // fix safari
  overflow: hidden
  box-sizing: border-box
  size: min_col_width
  display: inline-block
  list-style-type: none
  margin: (standard_padding / 2)
  padding: (standard_padding / 2)

.box-compartment
  box-compartment()

.box-container
  @extends .page-wrap
  display: block
  text-align: center

  li
    // see: https://github.com/LearnBoost/stylus/issues/571
    // @extends .box-compartment
    vertical-align: top // fix safari
    overflow: hidden
    box-sizing: border-box
    size: min_col_width
    display: inline-block
    list-style-type: none
    margin: (standard_padding / 2)
    padding: (standard_padding / 2)

.image-background
  background-size: cover
  background-repeat: no-repeat
  background-position: center

img-element-background()
  position: relative
  background-color: solid_black

  .image-wrapper
    position: absolute
    top: 0
    left: 0
    size: 100%
    overflow: hidden
    text-align: center

  img
    height: 100%
    // darken the photo (combined with black background color) to make sure
    // white letters show up
    opacity: 0.6
    display: inline-block
    margin-left: -50%
    margin-right: -50%

.img-element-background
  img-element-background()
