#services
  background-color white

  p, h1, h2, h3, h4, h5, h6
    max-width: max_width
    margin: 0 auto
    padding: 10px
    box-sizing: border-box

  h1, h2, h3, h4, h5, h6
    padding-top: 0.5em
    padding-bottom: 0

  ul
    @extends .container
    align-items: flex-start
    padding: 0
    color: darken(dark_grey, 20%) // make up for thinness of text

    icon_width = 30px
    h3
      color: black
      margin: 0 0 10px 0
      padding: 0
      font-size: 25px

      &:before
        content: ''
        size: icon_width - 10px
        margin-left: -(icon_width)
        margin-right: 10px
        display: inline-block
        background-repeat: no-repeat
        background-size: contain
        background-position: left

    li
      font-weight: lighter
      width: min_col_width
      padding-left: (standard_padding / 2) + icon_width

      &:nth-child(1) h3:before
        background-image: url('/img/icons/event-production.svg')
      &:nth-child(2) h3:before
        background-image: url('/img/icons/event-marketing.svg')
      &:nth-child(3) h3:before
        background-image: url('/img/icons/talent-rec.svg')

    li, h3
      text-align: left

#sponsors ul
  @extends .container
  height: 100%

  li img
    max-width: (min_col_width / 2) - standard_padding
    max-height: 65px // magic number
    width: 100%
    filter: grayscale(100%)
    -webkit-filter: grayscale(100%)
    -moz-filter: grayscale(100%)
    -ms-filter: grayscale(100%)
    -o-filter: grayscale(100%)
    // inlined /img/filters/greyscale.svg#desaturate to solve cross-domain
    // filter issue in firefox caused by the way that netlify moves assets to a
    // CDN
    filter: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg"><filter id="desaturate"><feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/></filter></svg>#desaturate')
    filter: unquote('gray')
    -webkit-filter: grayscale(1)
    transition: all 0.25s linear

    &:hover
      filter: none

#quotes
  @extends .image-background
  background-image: url('/img/generic_image3.jpg')

  .page-wrap
    margin-top: 50px

  cite, blockquote
    color: white
    margin: 0
    padding: (standard_padding / 2)

  blockquote
    font-weight: bold
    font-size: 20px

    &:before, &:after
      content: '"'

  cite
    margin: 20px
    font-size: 18px
    margin: auto
    display: block
    text-align: center
    text-transform: uppercase
    font-style: normal

#stats
  @extends .container

  li
    font-size: 20px

    // when the stats wrap, make sure they are centered over each-other
    min-width: 200px

  .number
    color: red
    font-size: 80px
    display: block
    font-family: 'DIN', sans-serif
