// flexie has some issue where these are like the height of the page - fix that
// with magic numbers and abusing !important, cause IE.
#services li
  height: 300px !important
  vertical-align: top

nav
  height: 60px

  ul
    float: right

  .page-wrap > a
    display: inline-block
    height: 30px

header
  width: 100%

footer .links
  float: right
