@import '_settings'
@import '_mixins'
@import '_email'
@import '_what-we-do'

normalize-css()

@font-face
    font-family: 'DIN'
    src: url('/fonts/dincond-bold-webfont.eot')
    src: url('/fonts/dincond-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dincond-bold-webfont.woff') format('woff'),
         url('/fonts/dincond-bold-webfont.ttf') format('truetype'),
         url('/fonts/dincond-bold-webfont.svg#DIN') format('svg')
    font-weight: normal
    font-style: normal

*
  border-color: red

body
  min-width: min_width
  font-family: 'Source Sans Pro', sans-serif
  color: white

h1, h2, h3, h4, h5, h6, nav
  text-transform: uppercase
  font-family: 'DIN', sans-serif
  font-weight: normal

  em
    color: red
    font-style: normal

h1
  margin: 0
  padding: 0.67em 0px

nav .page-wrap, header, footer
  padding: (standard_padding / 2)

  a
    color: white
    text-decoration: none
    display: inline-block

  ul
    padding: 0
    margin: 0

    li
      float: left
      list-style-type: none
      vertical-align: center
      line-height: 30px
      height: 50px
      box-sizing: border-box

  li a, > a
    padding: (standard_padding / 2)

  .social
    line-height: 0

  > a
    // the logo
    size: auto logo_height

  img
    height: 100%
    max-width: 225px // ugly hack to fix safari problem

nav
  position: relative
  background-color: solid_black

  .page-wrap
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    font-size: (logo_height / 2)

footer
  font-size: 13px
  background-color: black

  img
    display: inline-block
    padding: (standard_padding / 2)

  a
    text-decoration: none
    display: inline-block
    color: red

  p
    margin: 0

    span
      color: red

  .page-wrap
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center

    div
      display: inline-block

      div
        vertical-align: top
        overflow: hidden
        padding: (standard_padding / 2)

    .links
      vertical-align top
      display: inline-block

      li
        list-style: none
        display: inline-block
        vertical-align middle
        margin: 0

        &.social img
          padding: 0

      li + li:not(.social):before
        content: '|'

header
  @extends .image-background
  box-sizing: border-box
  margin: 0

#content
  overflow: auto // prevent margin collapsing
  background-color: grey
  color: black

  > h1, > h2, > a
    text-align: center
    display: block

  > h2
    font-size: 40px

  > h3
    font-size: 30px

  > a
    color: red

  li a
    color: white

x-slidebox
  background-color: grey
  color: black
  position: relative
  width: 100%

  x-slide
    padding: 50px 0 // for the controller

controller
  padding: (standard_padding / 2)
  position: absolute
  bottom: 0
  display: block
  text-align: center
  width: 100%

  input[type="radio"]
    display: none

    + label
      display: inline-block
      margin: 5px
      size: 10px
      rounded()
      border: 3px solid dark_grey
      cursor: pointer

    &:checked + label
      border-color: red

@media only screen and (max-width: 600px)
  #social-feed, .social-feed
    // just hide it entirely, cause why not? :P
    display: none !important

#social-feed
  @extends .box-container

  li
    size: ((max_width - 20px) / 5) - 5px
    margin: 2.5px
    box-sizing: border-box
    position: relative
    background-color: black
    color: white
    font-weight: lighter

    > a
      display: block
      text-decoration: none

    &:after
      content: ''
      display: block
      size: standard_padding
      background-size: contain
      background-repeat: no-repeat
      position: absolute
      bottom: (standard_padding / 2)
      right: (standard_padding / 2)
      z-index: 10

    &.twitter
      > div, > a
        word-wrap: break-word
        margin: (standard_padding / 2)
        text-align: left

  .instagram
    @extends .img-element-background
    background-color: solid_black

    &:after
      background-image: url('/img/icons/instagram.svg')

    > a
      z-index: 10
      position: absolute
      bottom: (standard_padding / 2)

  .twitter
    &:after
      background-image: url('/img/icons/twitter2.svg')

    div
      a
        color: red

      img
        size: 20px

#post-thumbs.no-side-thing, #event-thumbs
  text-align: center

#post-thumbs, #event-thumbs
  @extends .page-wrap
  display: block

  li, h3
    text-align: left

  h3
    font-size: 30px

post-button()
  a
    position: absolute
    left: standard_padding
    right: standard_padding
    bottom: standard_padding
    box-sizing: border-box
    border-radius: 5px
    background-color: red
    text-align: center
    text-decoration: none
    font-family: 'DIN'
    font-size: 14px
    text-transform: uppercase

post-thumb()
  // see: https://github.com/LearnBoost/stylus/issues/1095 for why we're using
  // this as a mixin
  box-compartment()

  background-color: black
  color: white

  h3, span
    text-shadow: solid_black 0 0 15px

  h3, span, a
    max-width: 100%
    z-index: 10
    position: relative
    display: block
    margin: 0
    box-sizing: border-box
    padding: (standard_padding / 2)

post-button-alt()
  a
    background: none !important
    color: red
    text-decoration: none

    &:after
      content: ''
      size: 25px 16px
      background-image: url('/img/icons/arrow-red.svg')
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      display: inline-block
      position: relative
      bottom: -4px

post-thumb-alt()
  image_size = ((min_col_width - standard_padding * 2) / 3)

  post-button-alt()
  box-sizing: border-box
  list-style-type: none
  display: inline-block
  margin: (standard_padding / 2)
  padding-left: image_size + standard_padding

  span
    text-transform: uppercase
    font-weight: 400
    color: mid_grey
    font-size: 13px

  .image-wrapper
    float: left
    size: image_size
    margin-right: standard_padding
    margin-left: -(image_size + standard_padding)
    overflow: hidden
    text-align: center

  img
    height: 100%

    // center when overflowing on sides
    display: inline-block
    margin-right: -50%
    margin-left: -50%

  h3
    margin: 0

#event-thumbs li
  @extends .img-element-background
  post-thumb()
  post-button()

#post-thumbs.no-side-thing li
  post-button-alt()
  vertical-align: top
  list-style-type: none
  display: inline-block
  width: min_col_width
  padding: (standard_padding / 2)

  span
    padding: (standard_padding / 2) 0
    display: block
    text-transform: uppercase
    font-weight: 400
    color: mid_grey
    font-size: 13px

  h3
    margin: 0

  .image-wrapper
    size: 100% 180px
    overflow: hidden
    text-align: center
    background-color: solid_black

  img
    height: 100%

    // center when overflowing on sides
    display: inline-block
    margin-right: -50%
    margin-left: -50%

@media only screen and (min-width: max_width)
  h2.post-thumbs
    // create an arbitrary alignment with the list of posts. this will break
    // if basically anything changes
    position: relative
    left: -55px

  #post-thumbs.has-side-thing
    text-align: center
    group()

    li:first-child
      img-element-background()
      post-thumb()
      post-button()
      float: left
      overflow: visible

      &:before
        // we add a header using a psudo-element... not sure why this exists,
        // but the design wants it and it certainly doesn't belong in the markup
        text-transform: uppercase
        font-family: 'DIN', sans-serif
        color: #4C4C4C
        font-weight: normal
        font-size: 30px
        content: 'Featured'
        position: absolute
        top: -80px
        left: 0

    li:not(:first-child)
      width: min_col_width * 2 + standard_padding

#post-thumbs.has-side-thing
  @media only screen and (max-width: max_width - 1px)
    li:first-child
      post-thumb-alt()

  li:not(:first-child)
    post-thumb-alt()

#post-content section
  @extends .page-wrap

  .tags, .date
    color: dark_grey

  .tags
    font-style: italic

  a
    color: red

  > *
    padding: (standard_padding / 2)

  hr
    padding: 0
    margin: (standard_padding / 2)
    border: solid 1px dark_grey

  img, iframe
    max-width: 100%
    display: block
    margin: 0 auto
